<header>
  	<div class="container">
    	<nav>
      		<div class="branding"><h1>Example App</h1></div>
      		<i class="menu-button fa fa-bars fa-2x" {{action 'toggleMenu'}}></i>
      		<ul class="{{if isOpen "close-menu" "open-menu"}}">
      			<li {{action 'toggleMenu'}}>{{#link-to 'contacts'}}Contact us{{/link-to}}</li>
      			<li {{action 'toggleMenu'}}>{{#link-to 'about'}}About us{{/link-to}}</li>
				<li {{action 'toggleMenu'}}>{{#link-to 'grid'}}AG Grid{{/link-to}}</li>
				<li {{action 'toggleMenu'}}>{{#link-to 'index'}}Home{{/link-to}}</li>
      		</ul>
    	</nav>
  	</div>
</header>

<div class="container content">
    {{outlet}}
</div><!-- /.container -->